.page-main__title {
  margin-top: 0;
  padding-top: 27px;
  .font-normal();
  font-size: 36px;
  line-height: 36px;

  @media (min-width: @tablet) {
    padding-top: 64px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop) {
    padding-top: 74px;
  }

  &--catalog {
    margin-bottom: 41px;

    @media (min-width: @tablet) {
      margin-bottom: 83px;
    }
  }

  &--form {
    margin-bottom: 37px;
  }
}
